.flex-gap {
  --width: 100%;
  --gap: 1rem;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: calc(-1 * var(--gap)) !important;
  margin-left: calc(-1 * var(--gap)) !important;
  width: calc(var(--width) + var(--gap));

  > * {
    margin: var(--gap) 0 0 var(--gap) !important;
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.text {
  color: $text-color !important;

  &-light {
    color: $text-light-color !important;
  }
}

.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffffc9;
  background-image: url('~../images/loader.svg');
  background-repeat: no-repeat;
  background-size: 6.25rem 6.25rem;
  background-position: center;
  border-radius: 0.375rem;
  z-index: 200;
}

.img-loading {
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #f5f4f4;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
    animation: load 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  @keyframes load {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.8rem;
}

.no-result {
  width: 25rem;
  height: 12.25rem;

  @screen sm {
    width: 100%;
  }
}
